.button {
  display: inline-block;
  padding: 11px 0;
  text-align: center;

  width: 100%;

  font-family: $font-heading;
  font-size: 14px;
  line-height: 18px;
  color: $color-white;

  text-transform: uppercase;
  text-decoration: none;
  border: none;

  background-color: $basic-green;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }
}

.button--disabled {
  background-color: $basic-grey;
  color: $dark-grey;
}
