.form {
  overflow: hidden;
  margin-bottom: 32px;
}

.form__container {

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 65px;
    column-gap: 80px;
  }
}
.form__group {

  position: relative;
  margin: 0;

  & + & {
    margin-top: 25px;
  }

  &--contacts, &--comment, &--additional {
    @media (min-width: $desktop-width) {
      grid-column: 1/-1;
    }
  }
}

.form__group--cat,
.form__group--target {
  position: relative;
  padding-bottom: 25px;

  &::after {
    position: absolute;
    content: '';
    width: 100vw;
    height: 1px;
    background-color: $color-grey;

    left: calc(50% - 50vw);
    bottom: 0;
  }
}

.form__button {
  margin-bottom: 21px;
}

.form__additional {
  font-family: $font-body;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  text-align: center;
  margin: 0;
}

.form__footer {
  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

