.logo {
  &:not(.logo--footer) {
    display: grid;
    grid-template-columns: 34px 1fr;
    gap: 16px;
    align-items: center;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  img {
    display: block;
  }
}

.logo__sign {
  justify-self: center;
}

.logo--footer {
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (max-width: $only-mobile-width) {
    min-height: 95px;
    justify-content: center;
  }
}
