.page-header__nav {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 24px 0 0;

    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 53px 0 0;
    grid-template-columns: 202px 1fr;
  }
}
