.promo {
  color: $color-white;

  background: $basic-green;
  background: url("../../img/background/bg-header--mobile.jpg");
  background-repeat: no-repeat;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $color-black;
    background-color: transparent;

    text-align: left;
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;

  }
}

.promo__heading {
  font-family: $font-heading;
  font-size: 36px;
  line-height: 1;
  font-weight: $regular;
}

.promo__text {
  font-family: $font-heading;
  font-size: 14px;
  line-height: 1;
  font-weight: $regular;
  text-transform: uppercase;
}
