$font-page: "Oswald", Arial, sans-serif;
$font-heading: "Oswald", Arial, sans-serif;
$regular: 400;
$medium: 500;

// colors
$basic-green: #68B738;
$color-white: #ffffff;
$color-black: #000000;
$color-background: rgba(104, 183, 56, 0.85);
$dark-grey: #444444;
$basic-grey: #F2F2F2
