//width
$tablet-width: 768px;
$desktop-width: 1440px;
$only-mobile-width: 767px;

//fonts
$font-body: Arial, sans-serif;
$font-heading: "Oswald", Arial, sans-serif;
$regular: 400;
$medium: 500;

// colors
$basic-green: #68B738;
$color-white: #ffffff;
$color-black: #000000;
$dark-grey: #444444;
$basic-grey: #F2F2F2;
$color-grey: #D9D9D9;
$color-heading: #222222;
